* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
  }

  .movies-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    padding: 10px;
  }

  .movie-card {
    padding: 20px;
  }
